h1 {
    color: blue;
}

img {
    width: 400px;
}

#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: yellowgreen;
    padding: 50px;
    border: 50px dashed double none blueviolet;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}